################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LJGHistoryService/v16/Server/sqlite3/storage.ide-shm
/.vs/LJGHistoryService/v16/Server/sqlite3/storage.ide-wal
